quindar_tone.mp3 filter=lfs diff=lfs merge=lfs -text
sensor_beep.mp3 filter=lfs diff=lfs merge=lfs -text
tesla_autopilot_on.mp3 filter=lfs diff=lfs merge=lfs -text
tesla_autopilot_warn.mp3 filter=lfs diff=lfs merge=lfs -text
tesla_error.mp3 filter=lfs diff=lfs merge=lfs -text
beepc.mp3 filter=lfs diff=lfs merge=lfs -text
ding.mp3 filter=lfs diff=lfs merge=lfs -text
ping_sound.mp3 filter=lfs diff=lfs merge=lfs -text
fire_pager.mp3 filter=lfs diff=lfs merge=lfs -text
interior_ambience_1.mp3 filter=lfs diff=lfs merge=lfs -text
key_alarm.mp3 filter=lfs diff=lfs merge=lfs -text
press.mp3 filter=lfs diff=lfs merge=lfs -text
received.mp3 filter=lfs diff=lfs merge=lfs -text
chrime_sound.mp3 filter=lfs diff=lfs merge=lfs -text
collision_alert_1.mp3 filter=lfs diff=lfs merge=lfs -text
correct.mp3 filter=lfs diff=lfs merge=lfs -text
tesla_autopilot_off.mp3 filter=lfs diff=lfs merge=lfs -text
error.mp3 filter=lfs diff=lfs merge=lfs -text
interior_ambience_10min.mp3 filter=lfs diff=lfs merge=lfs -text
nback_intro.mp3 filter=lfs diff=lfs merge=lfs -text
